{% extends "layout.html" %} {% block content %}
<!-- Individual Cards -->
<div id="cards" class="container mb-2" style="padding-bottom: 1px">
    <!-- <div class="example ml-auto mr-auto"> -->
    <div class="grid">
        {% for game in games %}
        <!-- <div class="grid-sizer col-lg col-md col-sm"> -->
        <div style="width:25%" class="grid-sizer">
            <!-- <div class="grid-item col-lg-3 col-md-6 "> -->
            <!-- <div style="width:280px;" class="grid-item"> -->
            <div class="grid-item col-lg-3 col-md-4 col-sm-8 col-xs-12">
                <div class="card mb-4">
                    <img class="card-img-top" src="{{ game.product.image }} " alt="{{ game.title }} board game ">
                    <div class="card-body ">
                        <h4 class="card-title ">{{ game.title }}</h4>
                        <h5 class="number-mentions ">15 mentions</h5>
                        <h5 class="rating ">5 Stars</h5>
                        <p class="card-text ">
                            He seems sinking under the evidence could not only grieve and a visit. The father is to bless and placed in his length hid...
                        </p>
                        <a href="# " class="btn btn-primary ">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- </div> -->
</div>
<!-- End Individual Cards -->
{% endblock %}