{% extends "index.html" %} {% block sidebar %}
<!-- Sidebar Column -->
<div class="col-sm-auto ml-auto mr-auto">
    <!-- Filters -->
    <div id="filter" class="filters">
        <div class="list-group filter-list">
            <a href="javascript:void(0)" data-filter="*" class="list-group-item list-group-item-action list-group-item-primary">Show All</a>
            <a href="javascript:void(0)" data-filter=".tech" class="list-group-item list-group-item-action list-group-item-secondary">Tech</a>
            <a href="javascript:void(0)" data-filter=".toy" class="list-group-item list-group-item-action list-group-item-success">Toy</a>
            <a href="javascript:void(0)" data-filter=".clothing" class="list-group-item list-group-item-action list-group-item-danger">Clothing</a>
        </div>
        <br>
        <div class="list-group sort-button-group">
            <div class="list-group custom-control custom-toggle my-2 sort-checkbox">
                <input data-sort-value="name" type="checkbox" id="customToggle1" name="customToggle1" class="custom-control-input">
                <label class="custom-control-label" for="customToggle1">Sort Alphabetically</label>
            </div>

            <div class="custom-control custom-toggle my-2 sort-checkbox">
                <input data-sort-value="number" type="checkbox" id="customToggle2" name="customToggle2" class="custom-control-input">
                <label class="custom-control-label" for="customToggle2">Sort by Mentions</label>
            </div>

            <div class="custom-control custom-toggle my-2 sort-checkbox">
                <input data-sort-value="rating" type="checkbox" id="customToggle3" name="customToggle3" class="custom-control-input">
                <label class="custom-control-label" for="customToggle3">Sort by Ratings</label>
            </div>
        </div>
    </div>
    <!-- End Filters -->
</div>
<!-- End Sidebar Column -->
{% endblock %}